.loader {
  box-sizing: border-box;
  margin: 0 auto;
  border: 5px solid #1d1d1d;
  border-bottom-color: transparent;
  border-radius: 50%;
  z-index: 1;
  width: 54px;
  height: 54px;
  animation: rotation 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}